.trnding , .food , .general , .flying , .investments , .media{
    width: 100%;
    height: 100vh;
    display: flex;
}
.img-trnding , .img-food , .img-general , .img-flying , .img-investments , .img-media{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-t{
    width: 90%;
    height: 70%;
    border-radius: 20px;
    border: solid 5px #9A6E66;
    background: url(/image/vision\ copy.png);
    background-position: center;
    background-size: cover;
}
.img-m{
    width: 90%;
    height: 70%;
    border-radius: 20px;
    border: solid 5px #9A6E66;
    background: url(/image/our.\ story\ copy.png);
    background-position: center;
    background-size: cover;
}
.img-v{
    width: 90%;
    height: 70%;
    border-radius: 20px;
    border: solid 5px #9A6E66;
    background: url(/image/meet3\ copy.png);
    background-position: center;
    background-size: cover;
}
.img-f{
    width: 90%;
    height: 70%;
    border-radius: 20px;
    border: solid 5px #9A6E66;
    background: url(/image/2-copy.png);
    background-position: center;
    background-size: cover;
}
.img-g{
    width: 90%;
    height: 70%;
    border-radius: 20px;
    border: solid 5px #9A6E66;
    background: url(/image/3-copy.png);
    background-position: center;
    background-size: cover;
}
.img-y{
    width: 90%;
    height: 70%;
    border-radius: 20px;
    border: solid 5px #9A6E66;
    background: url(/image/meet2\ copy.png);
    background-position: center;
    background-size: cover;
}
.cap-trnding , .cap-food , .cap-general , .cap-flying , .cap-investments , .cap-media{
    width: 50%;
    height: 100%;
}
.title-trnding , .title-food , .title-general , .title-flying , .title-investments , .title-media{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}
.title-trnding h1 , .title-food h1 , .title-general h1 , .title-flying h1 , .title-investments h1 , .title-media h1{
    font-size: 35px;
    margin: auto;
}
.p-trnding , .p-food , .p-general , .p-flying , .p-investments , .p-media{
    width: 90%;
    height: auto;
    text-align: justify;
    text-align-last: center;
    margin: auto;
}
.p-trnding h2 , .p-food h2 , .p-general h2 , .p-flying h2 , .p-investments h2 , .p-media h2{
    font-size: 24px;
}
.trnding-company{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trnding-company img{
    width: 800px;
}
.partners{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-partner{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-partner h1{
    font-size: 35px;
}
.logo-partner{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-partner img{
    width: 250px;
    border-radius: 50%;
}
.first-iraqi-bank{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
}
.nav-iraqi-bank{
    width: 90%;
    height: 15vh;
    background-color: #56b89d;
    border-radius: 20px;
    position: absolute;
    top: 30px;
    left: 5.5%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-iraqi-bank h1{
    font-size: 35px;
    color: #fff;
}
.caption-iraqi-bank{
    width: 40%;
    height: 70vh;
    background-color: #11998F;
    position: relative;
    top: 150px;
    border-radius: 20px;
    left: 5.5%;
    padding: 20px;
    text-align: justify;
}
.caption-iraqi-bank h2{
    font-size: 20px;
}
.our-first-iraqi-bank{
    width: 50%;
    height: 50vh;
    position:absolute ;
    right: 0;
    top: 160px;
    color: #11998F;
    padding-right: 50px;    
}
.our-first-iraqi-bank ul li{
    color: #11998F;
    font-size: 15px;
}
.logo-bank{
    width: 200px;
    margin-top: 50px;
}
.first-img{
    width: 400px;
    position: relative;
    top: 25px;
}
.btn-bank{
    width: 100px;
    height: 40px;
    background-color: black;
    color:#fff ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 10px;
}
@media screen and (max-width: 480px){
    .trnding{
        flex-direction: column;
        margin-top: 100px;
        
    }
    .trnding, .food, .general, .flying, .investments, .media{
      height: 150vh;
    }
    .media{
      height: 167vh;
      margin-top: 45px;
    }
    .investments{
      height: 167vh;
    }
    .img-trnding, .img-food, .img-general, .img-flying, .img-investments, .img-media{
        width: 100%;
        height: 30vh;
    }
    .cap-trnding{
        width: 100%;
    }
    .img-t , .img-f ,.img-g ,.img-y , .img-v , .img-m{
        height: 115%;
    }
    .trnding-company img{
      width: 345px;
    }
    .partners{
      height: 10vh;
    }
    .food , .investments , .media{
        flex-direction: column;
    }
    .cap-food ,.cap-general, .cap-flying , .cap-investments , .cap-media{
        width: 100%
    }
    .general ,.flying{
        flex-direction: column-reverse;
    }
    .title-media h1{
        font-size: 30px;
    }
}
/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main {
  height: 100vh;
  width: 100%;
}
.wrapper,
.slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide {
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}
.image-data span.text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.image-data h2 {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
}
a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}
a.button:hover {
  color: #fff;
  background-color: #c87e4f;
}

/* swiper button css */
.nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.swiper-button-next {
  right: 50px;
}
.swiper-button-prev {
  left: 50px;
}
.nav-btn::before,
.nav-btn::after {
  font-size: 25px;
  color: #fff;
}
.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}
.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}

@media screen and (max-width: 768px) {
  .nav-btn {
    visibility: hidden;
  }
  .swiper-pagination-bullet {
    visibility: visible;
  }
  
}
